{% extends 'helpers/layout.html' %}
{% import 'helpers/navigation.html' as navigation %}

{% block title %}
Assignments for {{ course.name }}
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

    $().ready(function() {
        let loggedInUser = {{ user.encode_json()|tojson }};
        let course = {{ course.encode_json()|tojson }};
        server = new frontend.Server(course.id, {}, {
            users: [loggedInUser],
            courses: [course]
        });
        mainModel = {
            course: server.courseStore.getInstance(course.id),
            server: server,
            user: server.userStore.getInstance(loggedInUser.id)
        }
        ko.applyBindings(mainModel);
    });

</script>
{% endblock %}

{% block body %}

    <h1>Manage Assignments</h1>
    <strong>{{ course.name }}</strong> (<code>{{ course.url }}</code>)
    {{ navigation.navigate_course(course_id) }}

    <p>
        Documentation on <strong><a href="{{ url_for('courses.making_problems') }}" target="_blank">new BlockPy assignments</a></strong>.
    </p>

    <assignment-manager params="server: server,
                                course: course,
                                user: user"></assignment-manager>

{% endblock %}
