{% extends 'helpers/layout.html' %}

{% block title %}
Submissions: {{ course.name }}
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

    $().ready(function() {
        let loggedInUser = {{ user.encode_json()|tojson }};
        let course = {{ course.encode_json()|tojson }};
        server = new frontend.Server(course.id, {}, {
            users: [loggedInUser],
            courses: [course]
        });
        // Preload the course's users and assignments so the selectors populate instantly
        server.userStore.preload({{ users|tojson }});
        server.assignmentStore.preloadWithGroups({{ assignments|tojson }}, {{ groups|tojson }});
        mainModel = {
            course: server.courseStore.getInstance(course.id),
            server: server,
            user: server.userStore.getInstance(loggedInUser.id),
            criteria: {{ criteria|tojson }},
            searchKey: {{ search_key|tojson }},
            userIds: {{ request.values.get('user_ids', '')|tojson }},
            assignmentIds: {{ request.values.get('assignment_ids', '')|tojson }}
        }
        ko.applyBindings(mainModel);
    });

</script>
{% endblock %}

{% block body %}

<h1>View Submissions</h1>

<p class="text-muted small">Back to <a href="{{ url_for('courses.course', course_id=course_id) }}">{{ course.name }}</a></p>

<submissions-filter params="server: server,
                            course: course,
                            user: user,
                            criteria: criteria,
                            searchKey: searchKey,
                            userIds: userIds,
                            assignmentIds: assignmentIds"></submissions-filter>

{% endblock %}
